<footer>
    <div class="f-info">
        <div class="f-info-socials"></div>
        <div>
            Wanderlust Private Limited © 2023. All rights reserved.
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>